Q.1 What is mongoDB? Explain non-relationl database in short. In which scenarios it is preferred
to use mongoDB over SQL Databases.

MongoDB is a database based on non_relationl documents model.
MongoDB is a non-relational document database that provides support for JSON-like storage. 
MongoDB is horizontlly scalable, which help reduce the workload and scale your business with ease

Q.2 State and explain the features of mongoDB.

Features of MongoDB 
 Support ad hoc queries 
 Indexing  
 Replication 
 Duplication of data
 Load balancing 
 Supports map reduce nd aggregation

Q.3 Write a code to connect mongoDB to python. Also create a database and a collection in mongoDB.

In [5]:
import pymongo
client = pymongo.MongoClient("mongodb+srv://rashmijha:12345jha@cluster0.0tudxth.mongodb.net/?retryWrites=true&w=majority")
db = client.test2

In [6]:
pip install pymongo

Requirement already satisfied: pymongo in /opt/conda/lib/python3.10/site-packages (4.3.3)
Requirement already satisfied: dnspython<3.0.0,>=1.16.0 in /opt/conda/lib/python3.10/site-packages (from pymongo) (2.3.0)
Note: you may need to restart the kernel to use updated packages.

In [7]:
db

Database(MongoClient(host=['ac-xokusds-shard-00-02.0tudxth.mongodb.net:27017', 'ac-xokusds-shard-00-01.0tudxth.mongodb.net:27017', 'ac-xokusds-shard-00-00.0tudxth.mongodb.net:27017'], document_class=dict, tz_aware=False, connect=True, retrywrites=True, w='majority', authsource='admin', replicaset='atlas-11akle-shard-0', tls=True), 'test2')

In [28]:
client = pymongo.MongoClient("mongodb+srv://rashmijha:12345jha@cluster0.0tudxth.mongodb.net/?retryWrites=true&w=majority")

In [29]:
db = client['jahan']

Q.4 Using a database and the collection to created in a question number3, Write a code to insert one 
record and insert many record. Use the find() and find_one() methodes to print the inserted record.

In [30]:
data5 = {"name" : "aadi" ,
         "surname" : "jha" ,
         "adds" : "mumbai"}

In [31]:
coll_jahan =db["my_self"]

In [32]:
coll_jahan.insert_one(data5)

In [33]:
 data6 = [
  { "surname": "Amy", "address": "Apple st 652" },
  { "surname": "Hannah", "address": "Mountain 21" },
  { "surname": "Michael", "address": "Valley 345" },
  { "surname": "Sandy", "address": "Ocean blvd 2" },
  { "surname": "Betty", "address": "Green Grass 1" },
  { "surname": "Richard", "address": "Sky st 331" },
  { "surname": "Susan", "address": "One way 98" },
  { "surname": "Vicky", "address": "Yellow Garden 2" },
  { "surname": "Ben", "address": "Park Lane 38" },
  { "surname": "William", "address": "Central st 954" },
  { "surname": "Chuck", "address": "Main Road 989" },
  { "surname": "Viola", "address": "Sideway 1633" }
]

In [34]:
coll_jahan.insert_many(data6)

In [35]:
coll_jahan.find_one()

{'_id': ObjectId('6450a99a8a8f9ef7b0e3782c'),
 'name': 'aadi',
 'surname': 'jha',
 'adds': 'mumbai'}

In [36]:
for i in coll_jahan.find():
    print(i)

{'_id': ObjectId('6450a99a8a8f9ef7b0e3782c'), 'name': 'aadi', 'surname': 'jha', 'adds': 'mumbai'}
{'_id': ObjectId('6450aa398a8f9ef7b0e3782d'), 'surname': 'Amy', 'address': 'Apple st 652'}
{'_id': ObjectId('6450aa398a8f9ef7b0e3782e'), 'surname': 'Hannah', 'address': 'Mountain 21'}
{'_id': ObjectId('6450aa398a8f9ef7b0e3782f'), 'surname': 'Michael', 'address': 'Valley 345'}
{'_id': ObjectId('6450aa398a8f9ef7b0e37830'), 'surname': 'Sandy', 'address': 'Ocean blvd 2'}
{'_id': ObjectId('6450aa398a8f9ef7b0e37831'), 'surname': 'Betty', 'address': 'Green Grass 1'}
{'_id': ObjectId('6450aa398a8f9ef7b0e37832'), 'surname': 'Richard', 'address': 'Sky st 331'}
{'_id': ObjectId('6450aa398a8f9ef7b0e37833'), 'surname': 'Susan', 'address': 'One way 98'}
{'_id': ObjectId('6450aa398a8f9ef7b0e37834'), 'surname': 'Vicky', 'address': 'Yellow Garden 2'}
{'_id': ObjectId('6450aa398a8f9ef7b0e37835'), 'surname': 'Ben', 'address': 'Park Lane 38'}
{'_id': ObjectId('6450aa398a8f9ef7b0e37836'), 'surname': 'William', 'address': 'Central st 954'}
{'_id': ObjectId('6450aa398a8f9ef7b0e37837'), 'surname': 'Chuck', 'address': 'Main Road 989'}
{'_id': ObjectId('6450aa398a8f9ef7b0e37838'), 'surname': 'Viola', 'address': 'Sideway 1633'}

Q5. Explain how you can use the find() method to query the MongoDB database. Write a simple code to 
demonstrate this.

In [37]:
for i in coll_jahan.find():
    print(i)

{'_id': ObjectId('6450a99a8a8f9ef7b0e3782c'), 'name': 'aadi', 'surname': 'jha', 'adds': 'mumbai'}
{'_id': ObjectId('6450aa398a8f9ef7b0e3782d'), 'surname': 'Amy', 'address': 'Apple st 652'}
{'_id': ObjectId('6450aa398a8f9ef7b0e3782e'), 'surname': 'Hannah', 'address': 'Mountain 21'}
{'_id': ObjectId('6450aa398a8f9ef7b0e3782f'), 'surname': 'Michael', 'address': 'Valley 345'}
{'_id': ObjectId('6450aa398a8f9ef7b0e37830'), 'surname': 'Sandy', 'address': 'Ocean blvd 2'}
{'_id': ObjectId('6450aa398a8f9ef7b0e37831'), 'surname': 'Betty', 'address': 'Green Grass 1'}
{'_id': ObjectId('6450aa398a8f9ef7b0e37832'), 'surname': 'Richard', 'address': 'Sky st 331'}
{'_id': ObjectId('6450aa398a8f9ef7b0e37833'), 'surname': 'Susan', 'address': 'One way 98'}
{'_id': ObjectId('6450aa398a8f9ef7b0e37834'), 'surname': 'Vicky', 'address': 'Yellow Garden 2'}
{'_id': ObjectId('6450aa398a8f9ef7b0e37835'), 'surname': 'Ben', 'address': 'Park Lane 38'}
{'_id': ObjectId('6450aa398a8f9ef7b0e37836'), 'surname': 'William', 'address': 'Central st 954'}
{'_id': ObjectId('6450aa398a8f9ef7b0e37837'), 'surname': 'Chuck', 'address': 'Main Road 989'}
{'_id': ObjectId('6450aa398a8f9ef7b0e37838'), 'surname': 'Viola', 'address': 'Sideway 1633'}

Q6. Explain the sort() method. Give an example to demonstrate sorting in MongoDB.

In [ ]:
The sort() method specifies the order in 
which the query returns the matching documents from the given collection.

In [45]:
for i in coll_jahan.find({'name' :'aadi'}):
    print(i)

{'_id': ObjectId('6450a99a8a8f9ef7b0e3782c'), 'name': 'aadi', 'surname': 'jha', 'adds': 'mumbai'}

Q7. Explain why delete_one(), delete_many(), and drop() is used.

In [ ]:
deleteOne() deletes the first document that matches the filter.

In [49]:
for i in coll_jahan.delete_one({'name' : 'aadi'}):
    print(i)

TypeError: 'DeleteResult' object is not iterable