Q.1 Write a program to accept percentage from the user and display the grade according to the following criteria:

In [2]:
marks = int(input("enter your marks"))
if marks >= 90:
     print("you will be A batch")
elif marks >= 80 and marks <=90:
     print("you  will be B batch")
elif marks >= 60 and marks <=80:
     print("you will be C batch")
else :
    print("you will be D batch")

enter your marks 20

you will be D batch

In [27]:
20>=90

False

Q.2 Write a program to accept the cost prize of a bike and display the road tax to be paid according 
to the following criteria.

In [3]:
cost_price = int(input("enter the cost price in Rs"))
if cost_price > 100000:
    tax_rate =  0.15
elif cost_price > 5000 and cost_price <= 100000:
    tax_rate = 0.10
else:
    tax_rate =  0.5
road_tax = cost_price * tax_rate    
print("The road tax to be paid as Rs:" , road_tax)

enter the cost price in Rs 9000

The road tax to be paid as Rs: 900.0

Q.3 Accept any city from the user and display monuments of that city.

In [8]:
d = {}

In [9]:
type(d)

dict

In [18]:
d = { "Delhi" : "Redfort" , "Agra" : "Tajmahal" , "Jaipur" :"Jaimahal"}

In [19]:
d

{'Delhi': 'Redfort', 'Agra': 'Tajmahal', 'Jaipur': 'Jaimahal'}

In [21]:
d["Delhi"]

'Redfort'

In [22]:
d["Jaipur"]

'Jaimahal'

Q.4 Check how many times a given number can be divided by 3 before it is less than or equal to 10.

In [5]:
l = [1,2,3,4,5,6,7,8,9,10]

In [6]:
l

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [7]:
[i for i in l if i % 3 == 0]

[3, 6, 9]

Q.5 Why and when to use while loop in python give a detailed description with example.

In [ ]:
A while loop evaluates the condition. if the condition evaluates to True, the code inside the while loop is executed.

In [5]:
x = 1
while x <= 5:
    print (x)
    x = x+1

1
2
3
4
5

Q.6 Use nested while loop to print 3 different pattern.

In [10]:
for i in range(100 , 1):
    for j in range(100 , 1):
        print(i*j, end = " ")

In [11]:
print(j)

100

In [2]:
i = 1
##outer loops
while i <= 10:
    j = i
    while j <+ 10:
        product = i*j
        print(product,end = "\t")
        j += 1
    print()
    i += 1

1	2	3	4	5	6	7	8	9
4	6	8	10	12	14	16	18
9	12	15	18	21	24	27
16	20	24	28	32	36
25	30	35	40	45
36	42	48	54
49	56	63
64	72
81

In [1]:
i = 1
while i <= 5:
    j = 1
    while j <= i:
        print('*' , end = '')
        j += 1
    print()
    i += 1

*
**
***
****
*****

In [ ]:
Q.7 Reverse a while loop to display number from 10 to 1.

In [13]:
l = [1,2,3,4,5,6,7,8,9,10]

In [14]:
l

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [18]:
l.reverse()

In [19]:
l

[10, 9, 8, 7, 6, 5, 4, 3, 2, 1]

In [1]:
num = 10
while num >= 1:
    print(num)
    num = num - 1

10
9
8
7
6
5
4
3
2
1