Q1,#explain with an exemple each when to use a for loop and a while loop.

Any repeated task more than one time is called loop.

In [2]:
l = ["jan" , "feb" , "march" , "april"]

In [3]:
l

['jan', 'feb', 'march', 'april']

In [4]:
for i in l:
    print(i)

jan
feb
march
april

In [5]:
l

['jan', 'feb', 'march', 'april']

In [8]:
for i in l:
    if i == "march":
        break
    print(i)

jan
feb

A while loop will always first check the condition before running.
if the condition evaluates to True then the loop will run the code within the loop body.

In [11]:
a = 1

while a <= 15 :
    print(a)
    a = a +1

1
2
3
4
5
6
7
8
9
10
11
12
13
14
15

Q.2 Write a python program to print the sum and  of the frist 10 natural numbers using for and and while loop.

sum of first 10 naturak number

In [4]:
sum = 0
for i in range(1,11):
    sum += 1
print ("sum of first 10 natural number:", sum)

sum of first 10 natural number: 10

product of first 10 natural number

In [5]:
product = 0 
for i in range(1 , 11):
    product += 1
print ("product of first 10 natural number:", product)

product of first 10 natural number: 10

while loop
sum of first 10 natural number

In [6]:
sum = 0
i = 1
while i <= 10:
    sum += i
    i += 1
print ("sum of first 10 natural number:" , sum)

sum of first 10 natural number: 55

product of first 10 natural number

In [7]:
product = 0 
i = 1
while i <= 10:
    product += i
    i += 1
print ("product of first 10 natural number:" , product)

product of first 10 natural number: 55

Q,3 Creat a python program to compute the electricity bill for a household.
The per-unit Charge in rupees are as follow: for the first unit, the user will be charged Rs. 4.5 per unit, 
for the next 100 unit, the user will be charged Rs.6 per unit, and for the next 100 units, the user will be 
charged Rs.10 per unit, After 300 units and above the user will be charged Rs. 20 per unit.


You are required to take the units of electricity consumed in a month from the user as input.


Your program must pass this test case: when the unit of electricity consumed by the user in a month is 310, the total electricity bill should be 2250.

In [5]:
units =int(input("enter price of unit consumed:"))
if units <= 100 :
    charge = units * 4.5
elif units <=  200 :
    charge  = 100 * 4.5 + (units - 100) * 6
elif units <= 300:
    charge = 100 * 4.5 + 100 * 6 + (units - 200) * 10
else:
    charge = 100 * 4.5 + 100 * 6 + 100 *10 + (units - 300) * 20
    
    print("Electricity bill: Rs. {:.2f}".format(charge))

enter price of unit consumed: 310

Electricity bill: Rs. 2250.00

Q,4 creat a list of number from 1 to 100. use for loop and while loop to calculate the cube of each number and if the cube 
of that number is divisible by 4 or 5 then append that number in a list and print that list.

In [22]:
n = 100
i = 1
while i < n:
    print(i)
    i = i+1
        
else :
    print("this will be excuted once you while" )

1
2
3
4
5
6
7
8
9
10
11
12
13
14
15
16
17
18
19
20
21
22
23
24
25
26
27
28
29
30
31
32
33
34
35
36
37
38
39
40
41
42
43
44
45
46
47
48
49
50
51
52
53
54
55
56
57
58
59
60
61
62
63
64
65
66
67
68
69
70
71
72
73
74
75
76
77
78
79
80
81
82
83
84
85
86
87
88
89
90
91
92
93
94
95
96
97
98
99
this will be excuted once you while

In [23]:
n = 100 
i = 1
while i < n:
    if i == 15:
        break
    print(i)
    i = i + 1
    
else :
    print ("this will be excuted once you while will complete it")

1
2
3
4
5
6
7
8
9
10
11
12
13
14

In [25]:
l = [ 1,2,3,4,5]
l1 = []
for i in l:
    l1.append(i**4)

In [26]:
l1

[1, 16, 81, 256, 625]

In [27]:
l = [ 1,2,3,4,5]
l1 = []
for i in l:
    l1.append(i**5)

In [28]:
l1

[1, 32, 243, 1024, 3125]

In [29]:
[ i for i in l if i % 4 == 0]

[4]

In [30]:
[ i for i in l if i % 5 == 0]

[5]

Q.5 Write a program to filter count vowels in the below-given string.
string = "i want to become a data scientist"

In [3]:
string = "i want to become a data scientist"
vowels = "aeiouAEIOU"
count =  0

for char in string:
    if char in vowels:
        count += 1
        
        print("number of vowels:" , count)

number of vowels: 1
number of vowels: 2
number of vowels: 3
number of vowels: 4
number of vowels: 5
number of vowels: 6
number of vowels: 7
number of vowels: 8
number of vowels: 9
number of vowels: 10
number of vowels: 11
number of vowels: 12